<!DOCTYPE html>
<html>

<head>
    <title></title>
</head>

<body>
    <style>
        td {
            width: 150px;
            text-align: center;
            border: 1px solid black;
            padding: 5px;
        }
    </style>
    <form action="/">
        <input type="submit" name="action" value="update">
        <input type="submit" name="action" value="delete">
    </form>
    <table>
        <thead>
            <tr>
                <th>Date</th>
                <th>Code</th>
                <th>Metall</th>
                <th>Buy</th>
                <th>Sell</th>
            </tr>
        </thead>
        <tbody>
            {% for row in data %}
            <tr>
                <td>{{row[1]}}</td>
                <td>{{row[2]}}</td>
                <td>{{row[3]}}</td>
                <td>{{row[4]}}</td>
                <td>{{row[5]}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>

</html>